@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+JP:100,200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap);

:root {
    --primary-color: rgb(46, 73, 63);
    --button-text-color: rgb(255, 255, 255);
    --border-radius: .2em;
    --border: 1px solid grey;
    --padding: 1rem;

    --title-font: 'Lora';
    --default-font: 'IBM Plex Sans JP';

    --background: white;
    --background-1: lightgray;
    --background-2: gray;
    --background-3: black;

    --text-light: white;
    --text-dark: black;
}

* {
    min-width: 0;
    box-sizing: border-box;
}

body,html {
    margin: 0;
    font-size: 16px;
    font-family: var(--default-font);
    color: var(--text-dark);
}



/* Common */ 

header {
    display: flex;
    background: var(--background-1);
}

nav {
    display: flex;
}

label, input, textarea, select {
    display: block;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--title-font);
}

.button {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--button-text-color);
    border: none;
    border-radius: var(--border-radius);
}
.button.secondary {
    background-color: transparent;
}

footer {
    color: var(--text-light);
    background-color: var(--background-3);
}

/* Home */
.home .hero {
    background-image: url();
}
.home .pages {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.home .pages .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    border-radius: var(--border-radius);
    border: var(--border);
    padding: var(--padding);
}

.home .offerings {
    display: flex;
    flex-direction: column;
    background-color: var(--background-1);
    border-radius: var(--border-radius);
    text-align: center;

    margin-top: 1em;
    padding-bottom: 1em;
}

.home .offerings .offering {
    background-color: var(--background);
    border-radius: var(--border-radius);
    padding: var(--padding);
    border: var(--border);

    margin-bottom: 1rem;
}

.home .offerings .button {
    display: block;
    width: 100%;
}

/* Contact */

.contact .hero {
    text-align: center;
    background-image: url(/img/contact-us/hero.png);
}

.contact .contact-methods {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media screen and (max-width: 800px) {
    .contact .contact-methods {
        grid-template-columns: 1fr;
    }
}

